<h1><%= @company.name %></h1>
<h2>Company Number: <%= @company.number %></h2>

<%= render @company.address %>

<h2>Officers</h2>
<% @company.officers.each do |officer| %>
  <h4><%= officer.role %>: <%= officer.first_name %> <%= officer.last_name %></h4>
  <%= render officer.address %>
<% end %>
