<h1><%= @company.name %></h1>
<h2>Company Number: <%= @company.number %></h2>

<%= render @company.address %>

<h2>Officers</h2>
<section class="officers">
  <% @company.people.each do |officer| %>
    <figure class="officer">
      <h4><%= officer.first_name %> <%= officer.last_name %></h4>
      <%= render officer.address %>
    </figure>
  <% end %>
</section>

<%= button_to "Import Record to Address Book", companies_path,
    params: {number: @company.number}, class: 'import' 
%>
