<h1><%= @company.name %></h1>
<h2>Company Number: <%= @company.number %></h2>
<% @company.addresses.each do |address| %>
  <h4><%= address.address_line_1 %> <%= address.address_line_2 %></h4>
  <h4><%= address.locality %>, <%= address.region %></h4>
  <h4><%= address.postal_code %></h4>
<% end %>

<h2>Officers</h2>
<% @company.people.each do |officer| %>
  <h4><%= officer.first_name %> <%= officer.last_name %></h4>
<% end %>
