<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="search">
      <%= form_tag('search/companies', method: 'get') do %>
      <%= label_tag(:q, "Search Companies by Name") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag('Search') %>
      <% end %>
    </nav>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
